.form-control{
    transition: all 0.5s;
}
.col-form-label{
    color:#818A91;
}
select.form-control{
    option{
        background-color: #fff;

    }
}
.form-control-lg{
    border-radius: 4px 0 0 4px;
}