
.navbar-brand{
    background:url('https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/d%E2%80%99Perfume@2x.png?raw=true')no-repeat center center ;
    background-size: 100%;
    text-indent:101%;
    overflow:hidden;
    white-space:nowrap;
    line-height: 1;

    @include size(128px,38px);

}
.navbar-toggler{
    width: 32px;
    height: 28px;
    position: relative;
    margin:0;
    transform: rotate(0deg);
    cursor: pointer;
}
.navbar-toggler span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #8d8d8d;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  .navbar-toggler span:nth-child(1) {
    top: 0px;
    transform-origin: left center;
  }

  .navbar-toggler span:nth-child(2) {
    top: 10px;

    transform-origin: left center;
  }

  .navbar-toggler span:nth-child(3) {
    top:20px;
    transform-origin: left center;
  }

  .navbar-toggler.open span:nth-child(1) {
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
  }

  .navbar-toggler.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  .navbar-toggler.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 17px;
    left: 8px;
  }
.nav-link{

    background-color: $dark;
    position: relative;
    line-height: 1.2;
    color:#fff;
    border-bottom:1px solid #fff;
    &:hover{
        color:#fff;
        box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
    }
    @include media-breakpoint-up(md) {
        background-color: #fff;
        color:$gray-500;
        border-bottom:0px;
        &::after{
            content: '';
            width: 0;
            height: 2px;
            position: absolute;
            display: block;

            background-color: $secondary;
            transition: all 0.5s;

        }
        &:hover{
          color:$primary;
          box-shadow:none;
            &::after{
                width: 100%;

            }
        }
      }
}
.mb__cart{
  color:$gray-500;
  position: relative;
  &::after{
      content: '3';
      @include size(16px,13px);
      background-color: $primary;
      display: block;
      position: absolute;
      color:#fff;
      top: 0;
      border-radius: 7px;
      font-size: 12px;
      text-align: center;
      line-height: 1;
      left: 15px;
  }
}