.white__logo{
    background:url('https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/d%E2%80%99Perfumewhite@2x.png?raw=true')no-repeat center center ;
    background-size: 100%;
    text-indent:101%;
    overflow:hidden;
    white-space:nowrap;
    line-height: 1;

    @include size(128px,38px);
}