.subscribe{
    background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index10.jpg?raw=true) no-repeat left ;
    background-size: cover;
    padding-bottom: 112px;
    height: 600px;
}