.banner{
    height: calc(100vh - 56px);
    background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/index1.jpg) no-repeat center center;
    background-size: cover;

}
