  @each $breakpoint in map-keys($grid-breakpoints) {
    @each $size, $value in $font-size {
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        .text#{$infix}-#{$size} {
         font-size: $value !important;
        }
      }

    }
  }
.text-md-left{
  @include media-breakpoint-up(md) {
    text-align: left;
}
}
 .font-weight-medium{
      font-weight: 500;
  }
.text-line{
    text-decoration: line-through;
}
  .lh-1{
      line-height: 1;
  }
  .lh-2{
      line-height: 1.2;
  }
